---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import IndexLayout from '@layouts/IndexLayout.astro';
import FormattedDate from '@components/FormattedDate.astro'
import {getCollection} from 'astro:content';
import { CldImage } from 'astro-cloudinary';

const posts = (await getCollection('blog', ({ data }) => {
	return data.draft !== true;
})).sort(
(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<IndexLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<section class="container home-section">
		<h2 class="section-title">Latest Articles</h2>
		<ul>
			{
				posts.map((post) => (
					<li>
						<a href={`/blog/${post.slug}/`}>
							<article>
								{post.data.heroImageCloudinary && (
									<CldImage
										src={post.data.heroImageCloudinary}
										alt="A random image"
										width="280"
										height="280"
										crop="fill"
										quality="60"
									/>
								)}

								<h3 class="title">{post.data.title}</h3>
								<p class="date">
									<FormattedDate date={post.data.pubDate} />
								</p>

								<p class="description">
									{post.data.description}
								</p>

								<p class="continue-reading">
									Continue reading →
								</p>
							</article>
						</a>
					</li>
				))
			}
		</ul>
	</section>
</IndexLayout>

<style>
	.section-title {
		font-size: 3rem;
		text-transform: lowercase;
		color: var(--color-primary-dark);
	}
</style>
