---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/head/BaseHead.astro';
import Footer from '../components/Footer.astro';
import HeaderPost from "../components/HeaderPost.astro";

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, heroImageCloudinary } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} heroImageCloudinary={heroImageCloudinary} />
	</head>

	<body>
		<HeaderPost title={title} pubDate={pubDate} heroImageCloudinary={heroImageCloudinary} />
		<main>
			<article>
				<div class="content">
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>


<style is:global lang="scss">
	.content{
		width: 100%;
		& > * {
			max-width: 700px;
			padding: 0 var(--spacer-md);
			margin: 0 auto;
		}

		h2 {
			font-size: 3rem;
			margin-top: 2.5rem;
			margin-bottom: .5rem;

			@media (min-width: 700px) {
				margin-top: 3rem;
			}
		}

		p {
			font-size: 18px;
			line-height: 1.5;
			margin-bottom: 1.3em;

			@media (min-width: 700px) {
				font-size: 19px;
			}
		}
	}
</style>
