---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/head/BaseHead.astro';
import Footer from '../components/Footer.astro';
import HeaderPost from "../components/HeaderPost.astro";

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description}/>
	</head>

	<body>
		<HeaderPost title={title} pubDate={pubDate} heroImage={heroImage} />
		<main>
			<article>
				<div class="content">
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>


<style is:global lang="scss">
	.content{
		--paragraph-margin: 1.7rem;
		--paragraph-max-width: 700px;
		--paragraph-padding: var(--spacer-md);
		--extra-wide-max-width: 800px;

		width: 100%;
		font-size: 18px;
		line-height: 1.5;

		@media (min-width: 700px) {
			font-size: 19px;
		}

		@media (min-width: 1000px) {
			--extra-wide-max-width: 900px;
		}

		& > * {
			max-width: var(--paragraph-max-width);
			padding: 0 var(--paragraph-padding);
			margin: 0 auto var(--paragraph-margin);
		}

		h2 {
			font-size: 2.5rem;
			margin-top: calc(var(--paragraph-margin) * 3);
			margin-bottom: var(--paragraph-margin);
			line-height: 1.2;

			@media (min-width: 700px) {
				font-size: 3rem;
				margin-top: calc(var(--paragraph-margin) * 4);
			}
		}

		ul, ol {
			padding-left: var(--spacer-xl);

			li {
				margin-bottom: var(--paragraph-margin);
			}
		}

		p > img{
			margin: 0 calc(var(--paragraph-padding) * -1);
			width: calc(100% + (var(--paragraph-padding) * 2));
			max-width: calc(100% + (var(--paragraph-padding) * 2));

			@media (min-width: 900px) {
				margin: 0 calc(var(--spacer-xl) * -1);
				width: calc(100% + (var(--spacer-xl) * 2));
				max-width: calc(100% + (var(--spacer-xl) * 2));
			}
		}

		figure {
			padding: 0;
			margin-top: calc(var(--paragraph-margin) * 2);
			margin-bottom: calc(var(--paragraph-margin) * 2);
			max-width: var(--extra-wide-max-width);

			@media (min-width: 900px) {
				margin-bottom: calc(var(--paragraph-margin) * 1.5);
				max-width: var(--extra-wide-max-width);
			}

			img {
				max-width: 100%;
			}

			figcaption {
				color: var(--color-fg-soft);
				font-size: .9em;
				text-align: center;
				padding: 0 var(--paragraph-padding);

				@media (min-width: 450px) {
					padding: 0 var(--spacer-lg) ;
				}

				@media (min-width: 700px) {
					padding: 0 var(--spacer-xl);
				}

				@media (min-width: 900px) {
					padding: 0 var(--spacer-xxl);
				}
			}
		}
	}
</style>
